* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

#walletBridgeIFrame {
  display: none;
}

.grid {
  padding-top: 30px;
}

.mint-card__primary, .mint-card__secondary {
  padding-left: 20px;
  padding-right: 20px;
}

.mint-card__secondary {
  padding-bottom: 20px;
}

#enable-dapp {
  padding-top: 20px;
}

#debug-mode {
  padding: 20px;
}

.mdc-layout-grid__inner {
  padding-top: 20px;
}

.messages {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  font-family: monospace;
  padding-top: 20px;
}

.message {
  word-wrap: break-word;
  width: 100%;
}

.status {
  padding: 10px;
}


